body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    line-height: 1.6;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header, section {
    padding: 20px;
    text-align: center;
}

header {
    background: #333;
    color: #fff;
}

#projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 75%;
    margin: 0 auto;
}

#projects-list .project-item {
    background-color: #fff;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#projects-list .project-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 3;
    opacity: 0;
}

#projects-list .project-item:hover::before {
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    transition: opacity 0.25s ease;
    opacity: 1;
}

#projects-list .project-item:hover {
    cursor: pointer;
}

.project-item img
{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
    object-fit: cover;
    transition: transform 0.25s ease;
}

.project-item::after
{
    width: 100%;
    height: 20%;
    content: '';
    background-color: #fff;
    position: absolute;
    top: 75%;
    left: 0px;
    z-index: 1;
}

#projects-list .project-item:hover img {
    transform: scale(1.25);
}

.project-item .title
{
    width: 100%;
    min-height: 10%;
    background-color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 2;
    padding: 5px;
}

.skills {
    list-style: none;
    padding: 0;
}
.skills li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background: #f4f4f4;
}
footer {
    background: #333;
    color: #fff;
    padding: 10px;
}

@media (max-width: 1200px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-item::after {
        top: 70%;
    }
}

@media (max-width: 800px) {
    .projects {
        grid-template-columns: 1fr;
    }

    .project-item::after {
        top: 60%;
    }
}

#project-desc
{
    visibility: hidden;
    background-color: #fafafa;
    position: absolute;
    top: 15%;
    left: calc(10% - 50px);
    width: 80%;
    z-index: 5;
    border-radius: 25px;
    padding: 25px 25px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.25);
}

#project-desc::after
{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    background-color: #222;
    width: 100%;
    height: 25px;
    border-radius: 25px 0;
}

#project-desc #x-mark
{
    position: absolute;
    right: -25px;
    top: -25px;
    z-index: 6;
    width: 50px;
    height: 50px;
    content: '';
    border: 3px solid #202020;
    border-radius: 30px;
    color: #eee;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#project-desc #x-mark:hover 
{
    transition: background-color 0.25s ease;
    background-color: #222;
}

#images
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin: 25px auto;
    border-radius: 10px;
}

#images #main-img
{
    max-width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#images #main-img img
{
    width: 100%;
    border-radius: 10px;
}

#images #img-controls
{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#images #img-controls button
{
    z-index: 10;
    border: 0;
    background-color: #333;
    color: #eee;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    margin: 20px;
    font-size: 25px;
    border-radius: 100px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    transition: background-color 0.25s ease;
}

#images #img-controls button:hover
{
    background-color: #111;
}

#images #img-controls #img-list
{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    max-height: 570px;
}

#images #img-list img
{
    width: 300px;
    height: 125px;
    transition: transform 0.3s ease;
    z-index: 9;
    cursor: pointer;
}

#panel
{
    display: flex;
}

#panel #desc
{
    width: 80%;
    padding-right: 30px;
}

#panel #side-bar
{
    width: 20%;
}

#panel #side-bar #technologies
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

#panel #side-bar #technologies .tech-item
{
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
}

#panel #side-bar .header
{
    text-align: center;
}

#panel #side-bar #src-link
{
    text-decoration: none;
    text-align: center;
}

@media (max-width: 1200px) {
    #img-list {
        height: 600px;
    }

    #img-list img {
        height: 200px;
    }
}

@media (max-width: 768px) {
    #img-list {
        height: 400px;
    }

    #img-list img {
        height: 200px;
    }
}